<div class="alert alert-info float d-flex justify-content-center" role="alert">
        <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>&nbsp;Loading...  
</div>
<!-- <div style="
      vertical-align: top;
      text-align: center;
      color: #129DD8;
      border-style: none;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);">
      <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>&nbsp;
      <h5>Loading</h5>
      <img height="100" width="100" src="/oms/assets/default/loader.svg" alt="Lubrizol - OMS" /> 
    </div> -->

<!-- <div class="d-flex justify-content-center">
        
        <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>&nbsp; -->
        <!-- <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i> -->
        <!-- <h5>    Loading   </h5> -->
        
        <!-- <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i> -->
        <!-- <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i> -->
        
<!-- <h5 style=" width: 100px;" class="d-flex justify-content-center">Loading </h5>
<div class="mp-loader" style="display: inline; ">
    <div class="mp-bounce1 mdl-color--white"></div>
    <div class="mp-bounce2 mdl-color--white"></div>
    <div class="mp-bounce3 mdl-color--white"></div>
    
</div> -->

<!-- </div> -->